<% layout('layouts/boilerplate') %>
<hr>
<h1>Search results</h1>
<script>
    AOS.init();
</script>

<a class="back-to-top"></a>

<% if(campgrounds.length === 0){%>
    <div class="text-center">
        <h1>No campgrounds found :(</h1>
    </div>
<% } %>
<% for (let campground of campgrounds){%>
    <div class="card my-4"  data-aos="zoom-in" style="box-shadow: rgba(14, 14, 102, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;">
        <div class="row">
            <div class="col-md-4 p-3">
                <% if(campground.images.length) {%>
                    <img class="img-fluid"src="<%= campground.images[0].url %>" alt="" class="img-fluid" style="width:100%; height:100%, max-height:300px">
                    <% } else{ %>
                        <img src="https://res.cloudinary.com/dp22k1vwj/image/upload/v1681793386/samples/landscapes/beach-boat.jpg" style="max-width:100%">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= campground.location %>
                        </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">
                        View
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    <div>
       <!-- add campground button -->
       <% if(currentUser) {%>
           <a href="/campgrounds/new" class="btn btn-success my-3">+Add Campground</a>
       <% } %>
    </div>
    
    <script src="/javascripts/back-to-top.js"></script>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
    </script>
<script src="/javascripts/clusterMap.js"></script>